body {
    background-color: #9eb2c8; 
}

#start-quiz-button {
    color: black;
    background-color: #efffbc;
}

h1, 
h2 {
    color: #efffbc;
    font-family: monospace;
}

a {
    color: #000000;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

span {
    font-family: monospace;
}

#questionTitle {
    font-size: 20px;
    font-family: sans-serif;
    color: #efffbc;
}

#answerCheck {
    font-style: italic;
    color: #828692;
}

#finalScore {
    font-family: monospace;
    font-weight: bold;
}